
<section class="row">
    <div class="col-4 py-10" *ngFor="let item of characters">
        <mat-card class="shadow">
            <img mat-card-image [src]="item?.image" alt="Imagenes">
            <mat-card-header>
                <mat-card-title>{{item?.name}}</mat-card-title>
                <mat-card-subtitle>Especie: {{item?.species}}</mat-card-subtitle>
                <mat-card-subtitle>Ubicación: {{item?.location?.name}}</mat-card-subtitle>
              </mat-card-header>
            <mat-card-actions>
            <div class="d-flex justify-content-end">
                <app-button 
                    class="" 
                    label="Guardar como favorito" 
                    (outputClick)="addFavorite(item.id)">
                </app-button>  
            </div>
            </mat-card-actions>
        </mat-card>
    </div>
</section>
