<mat-toolbar color="primary">
    <span>Prueba</span>
    <span class="toolbar-spacer"></span>
    <app-button
        class="mx-5"
        color="link"
        label="Inicio"
        (outputClick)="redirectUrl('/home')"
        *ngIf="isLoged">
    </app-button>
    <app-button
        class="mx-5"
        color="link"
        label="Favoritos"
        (outputClick)="redirectUrl('/favorites')"
        *ngIf="isLoged">
    </app-button>
    <app-button
        class="mx-5"
        color="link"
        label="Perfil"
        (outputClick)="redirectUrl('/profile')"
        *ngIf="isLoged">
    </app-button>
    <app-button
        class="mx-5"
        color="link"
        label="Iniciar sesión"
        (outputClick)="redirectUrl('/login')"
        *ngIf="!isLoged">
    </app-button>
    <app-button
        class="mx-5"
        color="link"
        label="Registrar"
        (outputClick)="redirectUrl('/register')"
        *ngIf="!isLoged">
    </app-button>
</mat-toolbar>
